<section class="container">
    <div id="login">
        <h1>welcome to star wars</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="input_wrapper">
                <input type="text" class="input_box" formControlName="name" placeholder="Enter your Username"><br />
                <input type="password" class="input_box" formControlName="birth_year" placeholder="Enter your Password"><br />
                <button type="submit" class="submit_btn">submit</button>
            </div>
        </form>
    </div>
</section>