.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 5%;;
}

.input_wrapper {
    text-align: center;
}

h1 {
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 30px;
  }

.input_box {
    width: 100%;
    padding: 20px;
    margin-bottom: 70px;
    border: none;
    border: 1px solid #efecec;
    border-radius: 10px;
}

.result-bg {
    background: #11966a;
    border: 1px solid #11966a;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    z-index: 99;
    letter-spacing: 1px;
    color: #fff;
}

.white {
    color: #ffffff;
}

.logout {
    float: right;
    padding: 10px 20px;
    background: #11966a;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    margin: 20px;
    cursor: pointer;
}

.mb5{
    margin-bottom: .5rem;
}
