section {
    /* background-image: url('../../assets/images/stars.jpg');
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 15%;;
}

.input_wrapper {
    text-align: center;
}

h1 {
    color: #efecec;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 30px;
  }

.input_box {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: none;
    border: 1px solid #efecec;
    border-radius: 10px;
}